body{
    margin: 0;
    overflow-x: hidden;
    background-color: #29292b;
    font-family: Arial, sans-serif;
}

/* Superior Classes */

.portada{
  background-color: rgb(0, 2, 31);
  padding: 15px;
}

.lista_desplegada {
  align-items: center;
  text-align: center;
  list-style-type: none;
}

.lista_desplegada nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag {
  position: absolute;
  top: 10px;
  right: 15px;
}

.lista_desplegada nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.header_buttons,
.header_buttons:visited{
  transition: color 0.3s ease;
  color: white;
  font-family: 'Press Start 2P';
  font-size: clamp(5px, 2.5vw, 14px);
  text-decoration: none;
  margin: 0px clamp(1px, 2.5vw, 500px);
}
.header_buttons:hover{
  transition: color 0.3s ease;
  color: rgb(255, 183, 89);
  font-family: 'Press Start 2P';
  text-decoration: none;
}
.header_buttons:active {
  transition: all 0.3s ease;
  font-family: 'Press Start 2P';
  text-decoration: none;
  text-align: center;
}

@media (max-width: 768px) {
  .lista_desplegada nav li {
    gap: 10px;
  }

  .header_buttons,
  .header_buttons:visited {
    margin: 0px 4px;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 50px;
  }
}


.proyect{
  transition: box-shadow 0.3s ease;
  background-color: aliceblue;
  align-items: center;
  margin: 1% 30%;
  
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  
  border: 1px solid #000;
  border-width: 5px;
  border-color: rgb(9, 0, 34);
  border-radius: 12px;
}

.proyect:hover{
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.39);
}

.proyect h1{
  margin: 20px auto 0% auto;
  font-size: 24px;
}

.proyect p{
  margin: 2% auto 5% auto;
  font-size: 16px;
}

.proyect_icon{
  align-items: center;
  margin: 2%;
  width: 90%;
  border-radius: 10px;
  
}


/*Zona inferior*/

.footer {
  background-color: rgb(11, 0, 22);
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.p_footer {
  font-size: 9px;
  text-align: center;
}

.p_footer_link{
  color: #ffffff;
  text-decoration: none;
  font-size: 9px;
}

